@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//Header//

.navbar {
        border-radius: 0;
}
.bottomrow {
        margin-top: -20px;
        background-color: blue;
        color: #fff;
        font-size: 1.3em;
}

//Banner//
.hero {
  		background-color: #156EBE;
  		color: #fff; 
  		text-align: center; 
  		font-size: 1.9em;
  		margin-top: -20px;
  		padding: 15px 0 5px;
  		}
.sidebar {
  			background-color: rgba(0,0,0,.6);
  			padding: 8% 5%;
  			color: #fff;
  			margin-top: 20px;
  			margin-bottom: 20px;
  }
.sidebar button {
  			background-color: #ED4913;
  			color: #fff;
  } 
.banner {
        background-color: #000;
        width: 100%;
        background: url('rehab1.jpeg') no-repeat;
        background-size: cover;
        margin-top: -20px;
        
}
.subhero {
        font-size: 1.2em;
}

//Home Page//



//Listings//
.list1 {
        text-align: right;
}


//footer//